@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #4E81C4, #356EBE);
}


.menu-link, .menu-link:visited, .menu-link:active {
  color: #fff !important;
  text-decoration: none !important;
}




