@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.menu-link {
  color: #111 !important;
  text-decoration: none !important;
}
.menu-link:visited {
  color: #111 !important;
}
.menu-link.active {
  color: #fff !important;
}



